.team-heading {
  background-color: bisque;
  font-family: cursive;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

.card-header {
  font-family: cursive;
  background-color: rgb(243, 253, 188);
}

.card-body {
  background-color: rgb(241, 241, 222);
}